@import "./color_schemes/dark";

$body-background-color: #18231e;
$sidebar-color: #1e2c25;
$search-background-color: #24342c;
$table-background-color: #1e2c25;
$code-background-color: #142019;
$body-text-color: #d3ded7;
$body-heading-color: #c7e8d3;
$nav-child-link-color: #b4c9bd;
$link-color: #99d2ae;
$btn-primary-color: #285d47;
$base-button-color: #2a3c31;
$border-color: #42594b;
$feedback-color: #24342c;
$search-result-preview-color: #b4c9bd;
$sa-muted: #b4c9bd;
$sa-rust: #e79d79;
$sa-quote-background: #24342c;
$sa-table-heading-background: #2a3c31;
$sa-primary-text: #18231e;
$sa-mark-brightness: 2;
