$body-background-color: #f1f4f2;
$sidebar-color: #e4ebe7;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #e8eeea;
$body-text-color: #233832;
$body-heading-color: #15372d;
$nav-child-link-color: #425a51;
$link-color: #285d47;
$btn-primary-color: #285d47;
$base-button-color: #e5ebe7;
$border-color: #bdcbc2;
